<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryTitle</key>
		<string>新闻</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>jrkd</string>
				<key>color</key>
				<string>2e4260</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/daily_hot.php?_appid=iphone&amp;_bsize=750_1334&amp;_dev=iPhone%2C9.3.1&amp;_idfa=44C64D22-DBB4-49AD-BB93-DC50565EFC46&amp;_lat=0.000000&amp;_lng=0.000000&amp;_mac=02%3A00%3A00%3A00%3A00%3A00&amp;_net=wifi&amp;_udid=EFF67A40-E743-4850-978E-0E96FC82A7B2&amp;_uid=&amp;_utoken=&amp;_v=6.5.2&amp;_version=6.54&amp;app_id_4=310000&amp;app_ids=&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>今日看点</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>段子</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>lt</string>
				<key>color</key>
				<string>fda6ac</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=11146</string>
				<key>title</key>
				<string>冷兔</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>bxrc</string>
				<key>color</key>
				<string>ff94c6</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=11581</string>
				<key>title</key>
				<string>爆笑日常</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>dz</string>
				<key>color</key>
				<string>60a6c3</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=10721</string>
				<key>title</key>
				<string>段子</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>美女</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>mn</string>
				<key>color</key>
				<string>ff8a8a</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=12175</string>
				<key>title</key>
				<string>美女</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>mzt</string>
				<key>color</key>
				<string>ff8a8a</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=969</string>
				<key>title</key>
				<string>妹子图</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>视觉</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>syzj</string>
				<key>color</key>
				<string>3d3d3d</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=12304</string>
				<key>title</key>
				<string>摄影札记</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>sp</string>
				<key>color</key>
				<string>fb4747</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=12179&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>视频</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>tp</string>
				<key>color</key>
				<string>533a85</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=12207&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>图片</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>旅游</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>flx</string>
				<key>color</key>
				<string>38c0c9</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=11834</string>
				<key>title</key>
				<string>feekr旅行</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>cyj</string>
				<key>color</key>
				<string>d2213b</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=10795&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>蝉游记</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>lypd</string>
				<key>color</key>
				<string>6cb2d2</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=640_1136&amp;_version=6.54&amp;app_id=981&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>旅游频道</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>汽车</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>qcpd</string>
				<key>color</key>
				<string>be4547</string>
				<key>type</key>
				<string>tag</string>
				<key>subCategory</key>
				<array>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=7&amp;clean_local_cache=Y</string>
						<key>title</key>
						<string>综合</string>
					</dict>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=11645&amp;catalog_appid=7&amp;clean_local_cache=Y</string>
						<key>title</key>
						<string>导购</string>
					</dict>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=11647&amp;catalog_appid=7&amp;clean_local_cache=Y</string>
						<key>title</key>
						<string>用车</string>
					</dict>
					<dict>
						<key>api_url</key>
						<string>http://dis.myzaker.com/api/get_post.php?_appid=iphone&amp;_bsize=750_1334&amp;_dev=iPhone%2C9.3.1&amp;_idfa=44C64D22-DBB4-49AD-BB93-DC50565EFC46&amp;_lat=0.000000&amp;_lng=0.000000&amp;_mac=02%3A00%3A00%3A00%3A00%3A00&amp;_net=wifi&amp;_udid=EFF67A40-E743-4850-978E-0E96FC82A7B2&amp;_uid=&amp;_utoken=&amp;_v=6.5.2&amp;_version=6.54&amp;discussion_id=185&amp;sort_type=last_comment</string>
						<key>title</key>
						<string>社区</string>
					</dict>
				</array>
				<key>title</key>
				<string>汽车频道</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>时尚</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>sspd</string>
				<key>color</key>
				<string>262626</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=12&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>时尚频道</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>scppd</string>
				<key>color</key>
				<string>262626</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=1067&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>奢侈品频道</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>财经</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>gppd</string>
				<key>color</key>
				<string>e64947</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=11691&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>股票频道</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>cjxw</string>
				<key>color</key>
				<string>f05a5a</string>
				<key>type</key>
				<string>tag</string>
				<key>subCategory</key>
				<array>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;act=list&amp;app_id=4&amp;clean_local_cache=Y</string>
						<key>title</key>
						<string>要闻</string>
					</dict>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=11691&amp;catalog_appid=4&amp;clean_local_cache=Y
</string>
						<key>title</key>
						<string>股票</string>
					</dict>
				</array>
				<key>title</key>
				<string>财经新闻</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>科技</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>kxpd</string>
				<key>color</key>
				<string>5c6675</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=1039&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>科学频道</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>itpd</string>
				<key>color</key>
				<string>3a3f5c</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/blog.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=752&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>IT之家</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>娱乐</string>
		<key>category</key>
		<array>
			<dict>
				<key>pic</key>
				<string>wyyl</string>
				<key>color</key>
				<string>c2252f</string>
				<key>type</key>
				<string>single</string>
				<key>api_url</key>
				<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;app_id=11687&amp;clean_local_cache=Y</string>
				<key>title</key>
				<string>网易娱乐</string>
			</dict>
			<dict>
				<key>pic</key>
				<string>dyzx</string>
				<key>color</key>
				<string>f77762</string>
				<key>type</key>
				<string>tag</string>
				<key>subCategory</key>
				<array>
					<dict>
						<key>api_url</key>
						<string>http://iphone.myzaker.com/zaker/news.php?_appid=iphone&amp;_bsize=750_1334&amp;_version=6.54&amp;act=list&amp;app_id=10530&amp;clean_local_cache=Y</string>
						<key>title</key>
						<string>影讯</string>
					</dict>
					<dict>
						<key>api_url</key>
						<string>http://dis.myzaker.com/api/get_post.php?_appid=iphone&amp;_bsize=750_1334&amp;_dev=iPhone%2C9.3.1&amp;_idfa=44C64D22-DBB4-49AD-BB93-DC50565EFC46&amp;_lat=0.000000&amp;_lng=0.000000&amp;_mac=02%3A00%3A00%3A00%3A00%3A00&amp;_net=wifi&amp;_udid=EFF67A40-E743-4850-978E-0E96FC82A7B2&amp;_uid=&amp;_utoken=&amp;_v=6.5.2&amp;_version=6.54&amp;discussion_id=168&amp;sort_type=last_comment</string>
						<key>title</key>
						<string>影迷</string>
					</dict>
				</array>
				<key>title</key>
				<string>电影资讯</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
